<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <script>
        $("html").niceScroll({
            cursorcolor: "#2a2929",
            cursoropacitymax: 1,
            touchbehavior: false,
            cursorwidth: "6px",
            cursorborder: "5",
            cursorborderradius: "0px",
            autohidemode: true
        });
    </script>
    <%if(post.noDate !="true" ){%>
        <div class="article-meta">
            <%- partial( 'post/date', {class_name: 'article-date', date_format: null}) %>
        </div>
        <%}%>
            <div class="article-inner">
                <% if (theme.fancybox){ %>
                    <input type="hidden" class="isFancy" />
                    <% } %>
                        <% if (post.link || post.title){ %>
                            <header class="article-header">
                                <%- partial( 'post/title', {class_name: 'article-title'}) %>
                            </header>
                            <% if (!index){ %>
                                <div class="article-info article-info-post">
                                    <%- partial( 'post/tag') %>
                                        <%- partial( 'post/category') %>
                                            <div class="clearfix"></div>
                                </div>
                                <% } %>
                                    <% } %>

                                        <div class="article-entry" itemprop="articleBody">
                                           <!--
                                            <% if (post.excerpt && index){ %>

                                            <% } else{
	                                             if (post.toc !==false&&(post.layout!="post-noTOC" &&post.layout!="false" )) {%>

                                                    <%- partial( 'post/toc') %>
                                                  <% } %>
                                            <% } %>
                                            -->
                                            <% if (post.excerpt && index){ %>
                                                     <%- post.excerpt %>
                                            <% } else { %>
                                                     <%- post.content %>
                                            <% } %>
                                        </div>

                                        <% if (index){ %>
                                            <div class="article-info article-info-index">
                                                <%- partial( 'post/tag') %>
                                                    <%- partial( 'post/category') %>
                                                        <% if (post.excerpt && index){ %>
                                                            <p class="article-more-link">
                                                                <a <% if (!theme.excerpt_link){ %>class="hidden"<% } %> href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %> >></a>
                                                            </p>
                                                            <% } %>
                                                                <div class="clearfix"></div>
                                            </div>
                                            <% } %>
            </div>
            <% if (!index && theme.baidushare){ %>
                <div id="socialShare" style="margin-left:40px;display:none;">
                </div>
                <script>
                    $(function() {
                        var width = document.body.scrollWidth;
                        if (width > 550) {
                            $("#socialShare").css("display", "block");
                            $("#socialShare").socialShare({
                                content: 'Nice!不错的资源...',
                                url: window.location.href,
                                titile: '<%post.title%>'
                            });
                        }
                    });
                </script>
                <% } %>
                    <% if (!index){ %>
                        <%- partial( 'post/nav') %>
                            <% } %>
                                <!-- 多说评论框 start -->
                                <% if (!index){ %>
                                    <div class="ds-thread" data-thread-key="<%= post.layout %>-<%= post.slug %>" data-title="<%= post.title %>" data-url="<%= page.permalink %>"></div>
                                    <!-- 多说评论框 end -->
                                    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                                    <script type="text/javascript">
                                        var duoshuoQuery = {
                                            short_name: "<%=theme.duoshuo_shortname%>"
                                        };
                                        (function() {
                                            var ds = document.createElement('script');
                                            ds.type = 'text/javascript';
                                            ds.async = true;
                                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                            ds.charset = 'UTF-8';
                                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                                        })();
                                    </script>
                                    <!-- 多说公共JS代码 end -->
                                    <% } %>
</article>

<!--
<% if(!index) {%>
    <div style="width:100%;background-color:#fff;">
        <div id="uyan_frame" style="margin:auto 10px 10px 10px;"></div>
    </div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2017540"></script>
    <% } %>
-->
<!--
<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread"></div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '<%=config.disqus_shortname%>'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
<% } %>
-->
