<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <script>
        $("html").niceScroll({
            cursorcolor: "#2a2929",
            cursoropacitymax: 1,
            touchbehavior: false,
            cursorwidth: "6px",
            cursorborder: "5",
            cursorborderradius: "0px",
            autohidemode: true
        });
    </script>
    <%if(post.noDate !="true" ){%>
    <div class="article-meta">
        <%- partial( 'post/date', {class_name: 'article-date', date_format: null}) %>
    </div>
    <%}%>
    <div class="article-inner">
        <% if (theme.fancybox){ %>
        <input type="hidden" class="isFancy" />
        <% } %>
        <% if (post.link || post.title){ %>
        <header class="article-header">
            <%- partial( 'post/title', {class_name: 'article-title'}) %>
        </header>
        <% if (!index){ %>
        <div class="article-info article-info-post">
            <%- partial( 'post/tag') %>
            <%- partial( 'post/category') %>
            <div class="clearfix"></div>
        </div>
        <% } %>
        <% } %>

        <div class="article-entry" itemprop="articleBody">

            <% if (post.excerpt && index){ %>

            <% } else{
	                                             if (theme.toc !==false&&(post.layout!="post-noTOC" &&post.layout!="false" )) {%>

            <%- partial( 'post/toc') %>
            <% } %>
            <% } %>

            <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
            <% } else { %>
            <%- post.content %>
            <% if (post.layout !== "false"){ %>
            </br>
            <p>本文链接：
                <a href="<%- post.permalink  %>">
                    <%- post.permalink %>
                </a>
            </p>
            <% } %>
            <p>-- <acronym title="End of File">EOF</acronym> --</p>

            <div class="post-info">

                <p>转载请注明出处 署名-非商业性使用-禁止演绎 3.0 国际（CC BY-NC-ND 3.0）</p>
            </div>
            <% } %>
        </div>

        <% if (index){ %>
        <div class="article-info article-info-index">
            <%- partial( 'post/tag') %>
            <%- partial( 'post/category') %>
            <% if (post.excerpt && index){ %>
            <p class="article-more-link">
                <a <% if (!theme.excerpt_link){ %>class="hidden"
                    <% } %> href="
                    <%- url_for(post.path) %>#more">
                    <%= theme.excerpt_link %> >></a>
            </p>
            <% } %>
            <div class="clearfix"></div>
        </div>
        <% } %>
    </div>
    <% if (!index && theme.socialShare){ %>
        <%- partial( 'post/socialShare') %>
    <% } %>
    <% if(!index && theme.donate){ %>
        <% if (post.donate!==false){ %>
            <%- partial( 'post/donate') %>
        <% } %>
    <% } %>
    <% if (!index){ %>
        <%- partial( 'post/nav') %>
        <% if (theme.valine){ %>
            <% if (post.comment!==false){ %>
                <%- partial( 'post/valine') %>
            <% } %>
        <% } %>
    <% } %>

</article>


<script>
    var isMobile = {
        Android: function () {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function () {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function () {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function () {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function () {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function () {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() ||
                isMobile.Windows());
        }
    };
    if (isMobile.any()) {
        //移动端不显示目录和评论
        $("#toc-button").css("display", "none");
        $("#commentDiv").css("display", "none");
    }
</script>